<div class="header-inner">
  <div class="container-fluid px-lg-5">
    <nav class="navbar navbar-expand-lg my-navbar">
      <a class="navbar-brand" href="#">
        <span class="logo">
          <img src="img/logo5.png" class="img-fluid" style="width:30px; margin:-3px 0px 0px 0px;">
          HiTel</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hoteles</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn">Registrarse</button>
          <button class="btn">Login</button>
        </form>
      </div>
    </nav>

  </div>
</div>
