@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.form__info {
  background-color: darkorange;
  width: 40vw;
  height: 75vh;
  border-radius: 15px 0 0 15px;
  justify-content: center;
  align-items: center;
}

.container__form-forms {
  background-color: antiquewhite;
  width: 25vw;
  height: 75vh;
  border-radius: 0 15px 15px 0;
}

.title__information {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  justify-content: center;
}

.title__information-text {
  display: inline;
  font-family: 'Poppins', sans-serif;
}

.text-company {
  font-family: "Kaushan Script", cursive;
}

.text-information {
  text-align: justify;
  width: 70%;
  height: 50%;
  margin: 0 auto;
}

.container__information-forms {
}

.form-control {
  border-radius: 24px;
  font-family: 'Quicksand', sans-serif;
}

.form-label {
  font-family: 'Quicksand', sans-serif;
}
